@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: hsl(235, 40%, 22%);
}

body {
  font-family: "Open Sans", sans-serif;
}

h4 {
  color: white;
  font-size: 1.1rem;
  font-weight: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary);
  color: white;
  position: fixed;
  width: 100vw;
  padding: 1.25rem 1rem;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

input {
  outline: 0;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bolder;
  margin-right: 1.5rem;
  padding: 0.8rem 1.25rem;
  border-radius: 1.5rem;
  cursor: text;
}

input:focus {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

input:focus::placeholder {
  color: #777;
}

.movie-container {
  background-color: hsl(235, 40%, 27%);
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: minmax(280px, auto-fit);
  grid-gap: 2rem;
  padding: 3rem 5rem 5rem;
}

.movie-card {
  background-color: rgba(0, 0, 0, 0.8);
  height: inherit;
  color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  cursor: pointer;
}

.movie-details {
  padding: 1rem 1.5rem;
}

.movie--title {
  font-size: 1rem;
}

.movie-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.movie-card .movie-details h3,
p {
  margin-bottom: 0.5rem;
}

.movie-card .movie-details p {
  font-size: 0.9rem;
}

.overview {
  background-color: white;
  color: black;
  padding: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(101%);
  transition: all ease-in 180ms;
}

.movie-card:hover .overview {
  box-shadow: 0 -2px 5px 0 rgba(255, 255, 255, 0.5);
  transform: translateY(0);
}

.movie--rating {
  display: inline-block;
  background-color: purple;
  padding: 0.4rem 0.75rem;
  font-size: 0.8rem;
  border-radius: 3px;
  margin-top: 0.6rem;
  margin-right: 0.5rem;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.genres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(235, 40%, 27%);
  color: white;
  padding: 8.5rem 1rem 0;
}

.genre-container {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.genre {
  margin-right: 1.2rem;
  background-color: rgba(13, 107, 200, 1);
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
  padding: 0.2rem 0.6rem;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.genre:hover,
.active {
  background-color: rgba(13, 107, 200, 0.4);
}

.clear {
  display: block;
  margin-top: 0.4rem;
  padding: 0.4rem 1rem;
  background-color: red;
}

.clear:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

@media (max-width: 960px) {
  .movie-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    padding: 2rem 2rem 7rem;
  }
}

@media (max-width: 600px) {
  .genre-container {
    padding-top: 12rem;
  }

  header {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .movie-container {
    padding: 3rem 4rem 7rem;
  }
}
